label {
    font-weight: normal
}

#draggable{
    width: min-content;
    padding: 5px;
    background-color: #faf9f9;
    min-width: 800px;
    min-height: 600px;
    display: none;
    transition: transform 1s;
}

#diagram-container{
    background-color: #faf9f9;
    min-height: inherit
}

#diagram{
    margin: auto;
}

.bp-button, .bp-plus {
    cursor: pointer;
	font-size: 13px;
	z-index: 11;
}

.bp-button:hover {
    color: red;
}

.bp-plus {
    width: 21px;
    bottom: 6px;
    right: 3px;
    position: absolute;
    z-index: 1;
	border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 19px;
	border-radius: 999px;
    line-height: 16px;
}

.years{
    bottom: 6px;
    font-size: 13px;
}

#death_block{
    display: none;
}

#location{
    width: 100%;
}

.death_belt {
    position: absolute;
    bottom: 13px;
    left: 22px;
    width: 47px;
    height: 5px;
    background: black;
    transform: rotate(315deg);
}

#dialog-confirm {
    display: none;
}

#add-person .span_button{
    display: inline-block;
}

#link-tip{
    position: absolute;
    top: 50px;
    left: 202px;
    padding: 5px;
    display: none;
}

#link-tip span {
    font-size: 16px;
}

nav#my_navbar{
    padding: 0px;
}

/* #add_single{
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #fff;
} */

#new_person{
    display: none;
}

#second_parent{
    display: none;
    width: 100%;
    height: 38px;
}

.vk_block{
position: absolute;
top: 10px;
left: 500px;
display: none;
}

div.selected-border {
    position: absolute;
    top: -4px;
    left: -4px;
    padding: 2px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 2px solid green;
    border-radius: 5%;
}

div.placeholder.orgdiagram {
    opacity: initial;
    background-color: initial;
    cursor: initial;
    display: initial;
}

#surname_list {
  position: absolute;
  right: 200px;
  top: 20px;
}

#full_info_block {
    position: fixed!important;
    transition: all 0.4s ease 0s;
}

#full_info_tab, #full_bio_tab, #full_adding_tab, #full_linking_tab {
    padding: 0px;
    position: relative;
    height: 100%;
    font-size: 14px;
}

#full_photo{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100px;
}


#full_edit {
    cursor: pointer;
    position: absolute;
    right: 91px;
    bottom: 0px;
}

#full_photo_upload {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 0px solid;
    border-radius: 50%;
}

#full_photo_upload_img{
    width: 100px;
    display: none;
    cursor: pointer;
}

#full_photo_delete{
    position: absolute;
    left: 86px;
    font-size: 16px;
    z-index: 5;
    display: none;
    cursor: pointer;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#full_close {
    width: 15px;
    position: absolute;
    top: 2px;
    right: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

#full_close:hover {
    color: red;
}

#full_name_block {
    font-weight: bold;
    margin-left: 110px;
    padding-top: 1px;
}

#full_death_belt{   
    width: 79px;
    height: 8px;
    top: 74px;
    left: 37px;
}

#full_photo_block {
    width: 100px;
    height: 100px;
    box-sizing: content-box;
    float: left;
    overflow: hidden;
    position: relative;
    padding-right: 1px;
    padding-bottom: 1px;
}

#full_birth_death {
    margin-top: 15px;
    padding: 0px;
    font-size: 14px;
}

#full_delete {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}

#full_search_results{
    border-radius: 3px;
    padding: 5px;
    height: 99px;
    overflow: auto;
    background: #faf9f9;
    margin-left: 2px;
    margin-top: 3px;
    display: none;
}

#full_search_results img{
    float: left;
    height: 25px;
    margin: 10px;
    margin-top: 2px;
}

#full_search_results_single{
    border-radius: 3px;
    padding: 5px;
    height: 99px;
    overflow: auto;
    background: #faf9f9;
    margin-left: 20px;
    margin-top: 3px;
    display: none;
    width: 228px;
}

#full_search_results_single img{
    float: left;
    height: 25px;
    margin: 10px;
    margin-top: 2px;
}

.full_search_results_single div {
    margin-left: 89px;
}

#vk_id_single_number{
    margin-top: 10px;
}

.result_item {
    cursor: pointer;
    border-bottom: 1px solid var(--steel_gray_80);
}

.result_item:hover {
    text-decoration: underline;
}

#full_info_block ul {
    background: transparent!important;
    border: none;
}

.full_field {
    font-weight: normal;
    background: transparent;
    border: none;
}
#full_spouses {
    max-height: 94px;
    margin-bottom: 7px;
    overflow: auto;
}

#full_spouses a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.full_field_enabled {
    border: 1px solid #456491;
    background: #abc2ee;
}

.full_field:focus {
    outline: none;
    border: none;
}

#full_name_block input {
    margin-top: 5px;
    height: 27px;
}

#full_name_block input:first-child {
    margin-top: 4px;
}


#full_birth_edit, #full_death_edit{
    width: 65px;
    margin-top: 7px;
    display: inline;
}

#full_edit_cancel {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 91px;
}

#full_edit_save {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 193px;
}

#bd_edit {
    display: none;
    display: inline-block;
    width: 210px;
}

#link_marriage_button {
    margin-top : 10px;
    margin-bottom: 16px;
}

.add_field{
    margin-top: 8px;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  user-select: none;
}

#zoomSlider{
    position: absolute;
    top: 110px;
    left: -55px;
    width: 150px;
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

#link_info {
    padding: 0px 5px;
    /* position: absolute;
    top: 11px;
    left: 53px;
    background-color: #fff;
    border-radius: 5px;
    line-height: 1.1; */
}

#center_on_person {
    left: 190px;
}

#link_info {
    margin-top: 5px;
    display: block;
    margin-left: -16px;
}

#cancel_link_button {
    display: inline;
}

.link_additional {
    display: block;
    color: #337ab7!important;
    margin-top: 9px;
}

.vk_info {
    display: block;
    color: #337ab7!important;
    margin-top: 9px;
}

#vk_info {
    width: 274px;
}

#maiden_name {
    display: none;
}

#full_location, #full_full_desc, #full_description, #full_nationality, #full_maiden_name{
    margin-top: 5px;
}

#import-gedcom img{
    width: 19px;
}

#full_maiden_name {
    display: none;
}

.ui-widget-header{
    font-weight: normal!important;
}

#map_modal .modal-dialog, #map_modal .modal-content, #map_modal .modal-body {
    width: 550px;
}

.modal-header .close {
    margin-top: -21px;
}

#tree_list li {
    cursor:pointer;
}

#tree_list li:hover{
    color: blue;
}

.ui-menu {
    width: 150px;
}

#tree_list {
    position: absolute;
    top: 57px;
    left: 5rem;
    padding: 7px;
    width: 178px;
}

#full_vk_link img {
    width: 50px;
    margin-left: -8px;
    display: none
}

#full_vk_text {
    font-size: 14px;
}

.bt-item-frame {
    border-width: 1px;
    border: 1px solid #dddddd;
    background: #eeeeee;
    color: #333333;
}

.ver_div {
    position: absolute;
    bottom: 0px;
    font-size: 17px;
    color: #4230d9;
    font-weight: bold;
    margin-left: 55px;
}

.bp-title-frame {
    margin-top: 3px;
    top: 1px;
    left: 61px;
    width: 89px;
    height: 47px;
    background-color: #3b1818;
}

.bp-item {
    overflow: initial;
}

.bp-photo-frame {
    top: 3px;
    left: 2px;
    width: 57px;
    height: 57px;
    padding: 1px;
    float: left;
    overflow: hidden;
}

.bp-description {
    bottom: 1px;
    left: 63px;
    width: 85px;
    max-height: 29px
}

.years {
    bottom: 0px;
    left: 1px;
    text-align: center;
    position: absolute;
    width: 61px;
    font-size: 13px;
}

.bp-title {
    color: #200e0e;
    padding: 5px;
}

#vk_id_edit {
    margin-top: 10px;
    margin-right: 10px;
    width: 90px;
    display: none;
}

a.disable-links {
    pointer-events: none;
    cursor: default;
}

.custom-badge{
    color: #ffffff;
    border-radius: 9px;
    top: 6px;
    margin-left: 18px;
    position: absolute;
    background: #a7b5ea;
}

.custom-badge-list {
    color: #ffffff;
    border-radius: 9px;
    position: absolute;
    background: #a7b5ea;
    width: 16px;
    height: 15px;
    text-align: center;
    line-height: 7px;
    font-size: 9px;
    line-height: 8px;
}

.megaphone_link{
    display: inline-block;
    float: right;
    margin-top: 11px;
    margin-right: 10px;
}

.location_link{
    display: inline-block;
    float: right;
    margin-top: 11px;
    margin-right: 10px;
}

#collapsable, #full_info_block ul {
    font-size: 14px;
}

#a_megaphone{
    display: none;
}

#search_input{
    height: 30px;
    margin-top: 3px;
    font-size: 14px;
    margin-left: 22px;
}

#search_dropdown{
    font-size: 14px;
    margin-left: 22px;
}

#searchclear {
    position: absolute;
    right: -18px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#search_group{
    width: 170px;
    position: relative;
}

#search_clear{
    position: absolute;
    right: -20px;
    top: 0px;
    font-size: 17px;
    cursor: pointer;
}

#spouses_span {
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 7px;
    display: none;
}

.offcanvas-end{
    width: 343px!important;
}

.offcanvas-body{
    padding: 0rem 1rem!important;
}

.ui-tabs .ui-tabs-nav li{
    margin: -12px .2em 0 0!important;
}

#remove_spouse{
    height: 28px;
    line-height: 10px;
}

#stat_span_all, #stat_span_vk, #stat_span_verified, #stat_span_fam, #stat_span_families{
    font-weight: bold;
}

#remove_vk_link {
    display: none;
}

.radio_adding_block{
    width: 100px;
}

#gedcom_link{
    margin-left: 23px;
}

.dropdown-menu{
    font-size: 14px;
}

#add_single, #link_info, #center_on_person, #show_stats, #gedcom_link i{
    color: #0d6efd;
    font-size:18px;

}

#link_map{
    color: #0d6efd;
    font-size:16px;
}

#add_single{
    margin-left: 10px;
}

#input_block_modal .modal-content{
    background: #d2e4fe;
    transition: all 0.3s ease-in;
}

#input_block_modal .modal-footer{
    border-top: 1px solid #92c2f2;
}

#link_vk img {
    margin-left: -9px;
    margin-top: 5px;
}