label {
    font-weight: normal
}

.tree_container {
    overflow: hidden;
}

#draggable{
    overflow: hidden;
    width: 10000px!important;
}

.placeholder {
    width: 10000px!important;
    height: 1500px!important;
}

#input_block {
    display: none;
}

.bp-button, .bp-plus {
    cursor: pointer;
	font-size: 13px;
	z-index: 11;
}

.bp-button:hover {
    color: red;
}

.bp-plus {
	border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 19px;
	border-radius: 999px;
    line-height: 16px;
}

.years{
    bottom: 4px;
}

#death_block{
    display: none;
}

.death_belt {
    display: block;
    width: 27px;
    height: 1px;
    background: black;
    right: 82px;
    bottom: 41px;
    z-index: 1;
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(
        315deg
        );
            -o-transform: rotate(15deg);
            transform: rotate(
        315deg
        );
    border: 2px black solid;
    border-radius: 59px;
}

.bp-title-frame{
    margin-top: 2px;
}

#dialog-confirm {
    display: none;
}

#add-person{
    display: none;
}

#add-person .span_button{
    display: inline-block;
}

#link-tip{
    position: absolute;
    top: 10px;
    left: 50px;
    display: none;
}

#add_single{
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
}

#new_person{
    display: none;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.3%;
    font-size: 15px;

    /* padding: 10px; */
    /* height: 100px; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

.vk_block{
position: absolute;
top: 10px;
left: 500px;
}

#surname_list {
  position: absolute;
  right: 200px;
  top: 20px;
}

#full_info_block {
    display: none;
    right: 14px;
    width: 366px;
    height: 445px;
    background: #88aae9;
    top: 26px;
    position: fixed;
    padding: 15px;
}

#full_photo{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}


#full_edit {
    position: absolute;
    right: 50px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

#full_edit:hover {
    color: red;
}

#full_close {
    width: 15px;
    position: absolute;
    top: 14px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

#full_close:hover {
    color: red;
}

#full_name_block {
    font-weight: bold;
}

#full_description {
    display: block;
    margin-top: 10px;
}

#full_death_belt{
    position: absolute;
    display: none;
    right: 11px!important;
    bottom: 15px!important;
    width: 57px;
    height: 8px;
    top: 76px;
    left: 51px;
}

#full_photo_block {
    position: relative;
}

#full_birth_death {
    margin-top: 10px;
    display: block;
}