{% extends "bootstrap/base.html" %}

{% block title %}VRodu{% endblock title %}

{% block metas %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock metas %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='primitives.latest.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='styles.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'/>
{% endblock styles %}

{% block content %}
    <div class="tree_container">
        <div id="draggable" class="ui-widget-content ui-draggable">
            <div id="diagram"></div>
        </div>
    </div>

    <div class="vk_block">
        <a href="#" onclick="VK.External.showInviteBox();" class="right-link">Пригласить друзей</a>
        <a href="#" onclick="sentNotification()" class="right-link">Отправить уведомление</a>
        <a href="#" onclick="getFriends()" class="right-link">Получить список друзей</a>
        <a href="#" onclick="getAppFriends()" class="right-link">Друзья в приложении</a>
        <a href="#" onclick="sendRequest()" class="right-link">Отправить запрос</a>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="input_block_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="">Добавить новую персону</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <input type="radio" id="new_person" name="relative_type" value="new_person">
                    <input id="person_id" value="" class="flushable" type="text" hidden />
                    <input id="link_id" value="" class="inactive flushable" type="text" hidden />
                    <input id="first_name" value="" placeholder="Имя" class="flushable form-control add_field" type="text"/>
                    <input id="last_name" value="" placeholder="Фамилия" class="flushable form-control add_field" type="text"/>
                    <input id="middle_name" value="" placeholder="Отчество" class="flushable form-control add_field" type="text"/>
                    <input id="birth" value="" placeholder="Год рождения" class="flushable form-control add_field year-picker" type="text"/>
                    <label class="add_field">Жив(а)?</label><input type="checkbox" id="is_alive" checked="checked">
                    <div id="death_block">
                        <input id="death" value="" placeholder="Год смерти" class="flushable form-control year-picker" type="text"/>
                    </div>
                    <br/><label class="add_field">Пол:</label>
                    <label>Мужской</label>
                    <input type="radio" id="male" name="sex" value="M" checked>
                    <label>Женский</label>
                    <input type="radio" id="female" name="sex" value="F"><br />
                    <input id="maiden_name" value="" placeholder="Девичья фамилия" class="flushable form-control add_field" type="text"/>
                    <a class="link_additional" data-toggle="collapse" href="#additional_info" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительная информация >
                    </a>
                    <div class="collapse" id="additional_info">
                        <div class="card card-body">
                            <input id="location" value="" placeholder="Место рождения" class="flushable form-control add_field" type="text"/>
                            <input id="description" value="" placeholder="Короткое описание" class="flushable form-control add_field" type="text"/>
                            <textarea id="full_desc" placeholder="Биография" class="flushable form-control add_field"></textarea>
                            <input id="nationality" value="" placeholder="Национальность" class="flushable form-control add_field" type="text"/>
                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="add_person">Добавить</button>
              </div>
            </div>
        </div>
     </div>

    <div class="modal fade" id="map_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Карта родственников</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
        </div>
     </div>

    <div class="modal" id="dialog-confirm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Удалить персону?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <span id="deleted_item"></span>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                   <button type="button" class="btn btn-primary" id="delete_person">Удалить</button>
               </div>
            </div>
        </div>
    </div>

    <div class="modal" id="dialog-message" >
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Ошибка!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                   <span id="failed_message"></span>
                </div>
            </div>
        </div>
    </div>

    <ul id="tree_list"></ul>

    <div id="link-tip">
        <div class="alert alert-danger link_alert" role="alert">Выберите персону, которую хотите связать</div>
        <button id="cancel_link_button" class="btn btn-secondary btn-sm">Отмена</button>
    </div>

    <div id="add_single">+</div>
    <a href="#" id="link_map"  data-toggle="modal">Показать на карте</a><br />
    <input type='range' min='0.5' max='1.5' value='1' step='0.1' autocomplete="off" id='zoomSlider' oninput='zoomDiagram()'>

    <div id="full_info_block" style='display: none'>
        <input id="full_id" value="" type="text" hidden/>
        <ul>
            <li><a href="#full_info_tab">Полная информация</a></li>
            <li><a href="#full_adding_tab">Добавить персону</a></li>
        </ul>
        <div id="full_info_tab">
            <div id="full_photo_block">
                <img id="full_photo" src=""/>
                <div id="full_death_belt" class="death_belt"></div>
            </div>
            <div id="full_name_block">
                <input id="full_last_name" class="full_field form-control" type="text" size="15" placeholder="Фамилия" disabled/>
                <input id="full_name" class="full_field form-control" type="text" size="15" placeholder="Имя" disabled/>
                <input id="full_middle_name" class="full_field form-control" type="text" size="15" placeholder="Отчество" disabled/>
            </div>
            <div style="clear: both"></div>
            <div id="bd_edit">
                <input id="full_birth_edit" placeholder="Год" class="full_field full_field_enabled year-picker form-control" type="text">
                <span id="bd-"> - </span>
                <input id="full_death_edit" placeholder="Год" class="full_field_enabled year-picker form-control" type="text">
                <span>Жив(а)?</span>
                <input id="full_is_alive_edit" type="checkbox" checked/>
            </div>
            <input id="full_birth_death" type="text" class="full_field"  size="15" disabled />
            <input id="full_description" placeholder="Короткое описание" class="full_field form-control" type="text" disabled/>
            <textarea id="full_full_desc" placeholder="Биография" class="full_field form-control" disabled></textarea>
            <input id="full_nationality" placeholder="Национальность" class="full_field form-control" type="text" disabled/>
            <input id="full_location" placeholder="Место рождения" class="full_field form-control" type="text" disabled/>
            <input id="full_maiden_name" placeholder="Девичья фамилия" class="full_field form-control" type="text" disabled/>
            <button type="button" class="btn btn-success" id="full_edit_save">Сохранить</button>
            <button type="button" class="btn btn-secondary" id="full_edit_cancel">Отменить</button>
            <button type="button" class="btn btn-primary" id="full_edit" >Редактировать</button>
            <button type="button" class="btn btn-danger" id="full_delete">Удалить персону</button>
            <br /><br />
        </div>
    <div id="full_adding_tab">
        <div id="full_relations">
            <div id="add-person">
                <label>Родителя</label>
                <input type="radio" id="parent"  name="relative_type" value="parent" checked>
                <label>Ребенка</label>
                <input type="radio" id="child" name="relative_type" value="child"> <br />
                <button type="button" class="btn btn-primary" id="add_person_button">Добавить нового</button>
                <button type="button" class="btn btn-primary" id="link_person_button">Связать</button><br />
                <button type="button" class="btn btn-info" id="link_marriage_button">Связать супруга</button><br />
                <input type="text" id="vk_id" value="" placeholder="Добавить из ВК" class="flushable form-control"><br />
                <div id="full_search_results"></div>
            </div>
        </div>
    </div>
        <div id="full_close" >X</div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="//vk.com/js/api/xd_connection.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=3e171cbb-7d54-47b4-98e5-21877d7eeb70&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='primitives.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.ui.touch-punch.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tree-scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vk_scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app_start.js') }}"></script>
{% endblock scripts %}
