{% extends "bootstrap/base.html" %}

{% block title %}VRodu{% endblock title %}

{% block metas %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock metas %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='primitives.latest.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='styles.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" rel="stylesheet"  type='text/css'/>
{% endblock styles %}

{% block content %}
    <div id="draggable" class="ui-widget-content">
        <div id="diagram-container">
            <div id="diagram"></div>
        </div>
    </div>

    <div class="vk_block">
        <a href="#" onclick="VK.External.showInviteBox();" class="right-link">Пригласить друзей</a>
        <a href="#" onclick="sentNotification()" class="right-link">Отправить уведомление</a>
        <a href="#" onclick="getFriends()" class="right-link">Получить список друзей</a>
        <a href="#" onclick="getAppFriends()" class="right-link">Друзья в приложении</a>
        <a href="#" onclick="sendRequest()" class="right-link">Отправить запрос</a>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="input_block_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="">Добавить новую персону</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <input type="radio" id="new_person" name="relative_type" value="new_person">
                    <input id="person_id" value="" class="flushable" type="text" hidden />
                    <input id="link_id" value="" class="inactive flushable" type="text" hidden />
                    <input id="first_name" value="" placeholder="Имя" class="flushable form-control add_field" type="text"/>
                    <input id="last_name" value="" placeholder="Фамилия" class="flushable form-control add_field" type="text"/>
                    <input id="middle_name" value="" placeholder="Отчество" class="flushable form-control add_field" type="text"/>
                    <input id="birth" value="" placeholder="Год рождения" class="flushable form-control add_field year-picker" type="text"/>
                    <select id="second_parent" placeholder="Второй родитель" class="flushable form-select add_field">
                    <option person_id='-1' selected>Второй родитель</option>
                    </select>
                    <label class="add_field">Жив(а)?</label><input type="checkbox" id="is_alive" checked="checked">
                    <div id="death_block">
                        <input id="death" value="" placeholder="Год смерти" class="flushable form-control year-picker" type="text"/>
                    </div>
                    <br/><label class="add_field">Пол:</label>
                    <label>Мужской</label>
                    <input type="radio" id="male" name="sex" value="M" checked>
                    <label>Женский</label>
                    <input type="radio" id="female" name="sex" value="F"><br />
                    <input id="maiden_name" value="" placeholder="Девичья фамилия" class="flushable form-control add_field" type="text"/>
                    <a class="link_additional" data-toggle="collapse" href="#additional_info" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительная информация >
                    </a>
                    <div class="collapse" id="additional_info">
                        <div class="card card-body">
                            <input id="location" value="" placeholder="Место рождения" class="flushable form-control add_field" type="text"/>
                            <input id="description" value="" placeholder="Короткое описание" class="flushable form-control add_field" type="text"/>
                            <textarea id="full_desc" placeholder="Биография" class="flushable form-control add_field"></textarea>
                            <input id="nationality" value="" placeholder="Национальность" class="flushable form-control add_field" type="text"/>
                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <a class="vk_info" data-toggle="collapse" href="#vk_info" aria-expanded="false" aria-controls="collapseExample">
                        Добавить из ВК
                  </a>
                  <div class="collapse" id="vk_info">
                      <div class="card card-body">
                          <input type="text" id="vk_id_single" value="" placeholder="Начните вводить имя друга" class="flushable form-control">
                          <div id="full_search_results_single"></div>
                          <input type="text" id="vk_id_single_number" value="" placeholder="Или введите ВК id в любом формате" class="flushable form-control"><br />
                          <input type="text" class="flushable" id="vk_photo_single" value="" hidden/>

                       </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="add_person">Добавить</button>
              </div>
            </div>
        </div>
     </div>

    <div class="modal fade" id="map_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Карта родственников</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
        </div>
     </div>

    <div class="modal fade" id="block_info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel_1">Версия 1.0 Alpha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <img src="{{ url_for('static', filename='images/vk_instr.png') }}" width="100%"/><br /><br />
                  <span>Чтобы добавить родителя или ребенка персоны перейдите по вкладке Добавить, выберите соответствующий пункт и нажмите Добавить нового. <br/>
                  Двух отдельных персон там же можно связать супружескими узами.</>
                  <br/>
                  <center><img src="{{ url_for('static', filename='images/vk_instr_couple.png') }}" height="180"/></center><br />
                  <span>У связанных браком супругов просто добавить детей. Для этого выбрав любого из родителей, перейдите во вкладку Добавить. Затем выберите пункт Ребенка и нажмите Добавить нового. В открытом окне появится поле выбора второго родителя.</span>
                  <center><img src="{{ url_for('static', filename='images/vk_instr_child.png') }}" height="380"/></center><br /><br />
                  <div class="alert alert-danger" role="alert">
                      Обратите внимание! Это рабочая версия программы, но некоторые функции могут работать некорректно.
                      Поскольку приложение еще не появилось в католге ВК, могут быть проблемы с отправкой уведомлений друзьям ВК.
                      <br />Если друг не принимает приглашение, возможно он не получил его, и лучше поделится с ним ссылкой на приложение https://vk.com/app7848491_1505485 через личные сообщения.
                      <br/>Пожалуйста пишите свои отзывы и пожелания в лс <a href="https://vk.com/danyanisev">Денису Янисеву</a> или на почту janisevdan@gmail.com. <br />
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
        </div>
     </div>

    <div class="modal" id="dialog-confirm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Удалить персону?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <span id="deleted_item"></span>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                   <button type="button" class="btn btn-primary" id="delete_person">Удалить</button>
               </div>
            </div>
        </div>
    </div>

    <div class="modal" id="dialog-photo-confirm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Удалить фотографию?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                   <button type="button" class="btn btn-primary" id="photo_delete">Удалить</button>
               </div>
            </div>
        </div>
    </div>

    <div class="modal" id="confirm_vk" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Это вы?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <span id="confirmed_item"></span>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" id="not_confirm_person">Нет</button>
                   <button type="button" class="btn btn-primary" id="confirm_person">Да</button>
               </div>
            </div>
        </div>
    </div>

    <div class="modal" id="dialog-message" >
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Ошибка!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                   <span id="failed_message"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="photo-crop-block" role='dialog'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Выберите область фото</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <img id="photo-crop" src=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" id="photo-crop-btn">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>

    <ul id="tree_list"></ul>

    <div id="link-tip">
        <div class="alert alert-danger link_alert" role="alert">Выберите персону, которую хотите связать</div>
        <button id="cancel_link_button" class="btn btn-secondary btn-sm">Отмена</button>
    </div>

    <div id="add_single">+</div>
    <a href="#" id="link_map"  data-toggle="modal">Показать на карте</a>
    <a href="#" id="center_on_person">Фокус на персоне</a>
    <a href="#" id="link_info"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-question" viewBox="0 0 16 16">
  <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
  <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
  <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z"/>
</svg></a>
    <input type='range' min='0.5' max='1.5' value='1' step='0.1' autocomplete="off" id='zoomSlider' oninput='zoomDiagram()'>

    <div id="full_info_block" style='display: none'>
        <input id="full_id" value="" type="text" hidden/>
        <ul>
            <li><a href="#full_info_tab">Персона</a></li>
            <li><a href="#full_bio_tab">Биография</a></li>
            <li><a href="#full_adding_tab">Добавить</a></li>
        </ul>
        <div id="full_info_tab">
            <div id="full_photo_block">
                <img id="full_photo" src=""/>
                <div id="full_death_belt" class="death_belt"></div>
                <div id="full_photo_delete" class="fa fa-remove"></div>
                <div id="full_photo_upload"> 
                    <img id='full_photo_upload_img' src="/static/photos/PhotoUpload.png"/>
                </div>
            </div>
            <div id="full_name_block">
                <input id="full_last_name" class="full_field form-control" type="text" size="15" placeholder="Фамилия" disabled/>
                <input id="full_name" class="full_field form-control" type="text" size="15" placeholder="Имя" disabled/>
                <input id="full_middle_name" class="full_field form-control" type="text" size="15" placeholder="Отчество" disabled/>
            </div>
            <div style="clear: both"></div>
            <div id="bd_edit">
                <input id="full_birth_edit" placeholder="Год" class="full_field full_field_enabled year-picker form-control" type="text">
                <span id="bd-"> - </span>
                <input id="full_death_edit" placeholder="Год" class="full_field_enabled year-picker form-control" type="text">
                <span>Жив(а)?</span>
                <input id="full_is_alive_edit" type="checkbox" checked/>
            </div>
            <input id="full_birth_death" type="text" class="full_field"  size="15" disabled />
            <input id="full_description" placeholder="Краткое описание" class="full_field form-control" maxlength="24" type="text" disabled/>
            <textarea id="full_full_desc" placeholder="Биография" class="full_field form-control" disabled></textarea>
            <input id="full_nationality" placeholder="Национальность" class="full_field form-control" type="text" disabled/>
            <input id="full_location" placeholder="Место рождения" class="full_field form-control" type="text" disabled/>
            <input id="full_maiden_name" placeholder="Девичья фамилия" class="full_field form-control" type="text" disabled/>
            <input id="vk_id_edit" placeholder="VK ID" class="full_field form-control" type="text" hidden><a id="full_vk_link" href="" target="_blank"><img src="{{ url_for('static', filename='images/vk.png') }}"></a>
            <span id="full_vk_text"></span>
            <button type="button" class="btn btn-success" id="full_edit_save">Сохранить</button>
            <button type="button" class="btn btn-secondary" id="full_edit_cancel">Отменить</button>
            <button type="button" class="btn btn-primary" id="full_edit" >Редактировать</button>
            <button type="button" class="btn btn-danger" id="full_delete">Удалить персону</button>
            <br /><br />
        </div>
        <div id="full_bio_tab">
            <div style="font-size: 18px; margin-bottom: 5px;">Супруги</div>
            <div id="full_spouses_block">
                <div id="full_spouses" class="list-group"></div>
                <button id="remove_spouse" class="btn btn-danger" type="button">Удалить брак</button>
            </div>
        </div>
        <div id="full_adding_tab">
            <div id="full_relations">
                <div id="add-person">
                    <label>Родителя</label>
                    <input type="radio" id="parent"  name="relative_type" value="parent" checked>
                    <label>Ребенка</label>
                    <input type="radio" id="child" name="relative_type" value="child"> <br />
                    <button type="button" class="btn btn-primary" id="add_person_button">Добавить нового</button>
                    <button type="button" class="btn btn-primary" id="link_person_button">Связать</button><br />
                    <button type="button" class="btn btn-info" id="link_marriage_button">Связать супруга</button><br />
                    <input type="text" id="vk_id" value="" placeholder="Добавить из ВК" class="flushable form-control"><br />
                    <div id="full_search_results"></div>
                </div>
            </div>
        </div>
        <div id="full_close" >X</div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="//vk.com/js/api/xd_connection.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=3e171cbb-7d54-47b4-98e5-21877d7eeb70&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='primitives.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.ui.touch-punch.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tree-scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vk_scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app_start.js') }}"></script>
{% endblock scripts %}
