<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% block html %}
{% block head %}
{{ super() }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="//vk.com/js/api/xd_connection.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vk_scripts.js') }}"></script>
    <script  type="text/javascript" src="{{ url_for('static', filename='primitives.min.js') }}"></script>
    <script  type="text/javascript" src="{{ url_for('static', filename='custom_primitives.min.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tree-scripts.js') }}"></script>
    <link href="{{ url_for('static', filename='primitives.latest.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='styles.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <script type="text/javascript">
        $(document).ready(function () {
            var options = new primitives.orgdiagram.Config();
            options.cursorItem = null;
            options.hasSelectorCheckbox = primitives.common.Enabled.False;
            options.hasButtons = primitives.common.Enabled.False;
            options.pageFitMode = primitives.common.PageFitMode.PrintPreview;
            options.elbowType = primitives.common.ElbowType.Round;
            options.normalLevelShift = 20;
            options.dotLevelShift = 20;
            options.lineLevelShift = 24;
            options.normalItemsInterval = 10;
            options.dotItemsInterval = 1;
            options.lineItemsInterval = 1;
            options.linesWidth = 1;
            options.linesColor = "#7C8993";
            window.diagramSettings = options;
            options.items = {{ persons | safe }};
            $("#diagram").famDiagram(options);

            var placeholder = $(".placeholder");
            $("#diagram").css({
                width: placeholder.width() + 10,
                height: placeholder.height() + 10,
            })
            $("#diagram").famDiagram("update");
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>

{% endblock %}
<body>

<!-- <div class="row">
    <div class="column" style="background-color:#aaa;">
        <h2>Column 1</h2>
        <p>Some text..</p>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Column 2</h2>
        <p>Some text..</p>
    </div>
</div> -->

{% block content %}
<div class="tree_container">
	<div id="draggable" class="ui-widget-content ui-draggable">
        <div id="diagram"></div>
	</div>
</div>

<!--<a href="#" onclick="VK.External.showInviteBox();" class="right-link">Пригласить друзей</a>-->
<!--<a href="#" onclick="SentNotification()" class="right-link">Отправить уведомление</a>-->
<!--<a href="#" onclick="GetFriends()" class="right-link">Получить список друзей</a>-->
<!--<a href="#" onclick="GetAppFriends()" class="right-link">Друзья в приложении</a>-->
<!--<a href="#" onclick="SendRequest()" class="right-link">Отправить запрос</a>-->

<!-- Modals -->
<div id="input_block" title="Добавить новую персону">
    <label id="new_person_label">Добавить отдельную персону</label>
    <input type="radio" id="new_person" name="relative" value="new_person">
    <input id="person_id" value="" class="flushable" type="text" hidden />
    <input id="link_id" value="" class="inactive flushable" type="text" hidden /><br/>
    <label>Имя</label><br />
    <input id="first_name" value="" class="flushable" type="text"/><br />
    <label>Фамилия</label><br />
    <input id="last_name" value="" class="flushable" type="text"/><br />
    <label>Отчество</label><br />
    <input id="middle_name" value="" class="flushable" type="text"/><br />
    <label>Биография</label><br />
    <textarea id="description" class="flushable"></textarea><br />
    <label>Год рождения</label><br />
    <input id="birth" value="" class="flushable" type="text"/><br />
    <label>Жив(а)?</label><input type="checkbox" id="is_alive" checked><br />
    <div id="death_block">
        <label>Год смерти</label><br />
        <input id="death" value="" class="flushable" type="text"/><br />
    </div>
    <label>Место жительства</label><br />
    <input id="location" value="" class="flushable" type="text"/><br />
    <label>Пол:</label><br />
    <label>Мужской</label>
    <input type="radio" id="male" name="sex" value="M" checked>
    <label>Женский</label>
    <input type="radio" id="female" name="sex" value="F"><br />
    <label>VK ID</label><br />
    <input type="text" id="vk_id" value="" class="flushable" ><br />
</div>

<div id="add-person" title="Добавить родителя">
    <label>Родителя</label>
    <input type="radio" id="parent"  name="relative" value="parent" checked>
    <label>Ребенка</label>
    <input type="radio" id="child" name="relative" value="child">
</div>

<div id="dialog-confirm" title="Удалить персону?">
    <span id="deleted_item"></span>
</div>
<div id="dialog-message" title="Ошибка!">
    <span id="failed_message"></span>
</div>
<div id="link-tip">
    <span>Нажмите на персону, которую хотите связать</span>
</div>

<div id="add_single">+</div>
<!-- Modals -->

{% endblock %}
</body>
{% endblock %}
