{% extends "bootstrap/base.html" %}

{% block title %}VRodu map{% endblock title %}

{% block metas %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock metas %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div id="map" style="width: 500px; height: 400px"></div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 7,
            controls: ['fullscreenControl', 'typeSelector', 'zoomControl']
        }),
        objectManager = new ymaps.ObjectManager({
            clusterize: true,
            gridSize: 32,
            clusterDisableClickZoom: true
        });
        myMap.geoObjects.add(objectManager);
        locations = {{ locations | safe }};
        if (locations.length){
            var myBounds = addLocations(myMap, locations);
            myMap.setBounds(ymaps.util.bounds.fromPoints(myBounds));
            if (myMap.getZoom() > 20){
                myMap.setZoom(12);
            }
        }
    }
    function addLocations(map, locations){
        var A = [];
        for (a in locations){
            var myPlacemark = new ymaps.Placemark(locations[a].coordinates, {iconCaption: locations[a].person});
            map.geoObjects.add(myPlacemark);
            A.push(locations[a].coordinates);
        }
        return A;
    }
    </script>
{% endblock scripts %}