{% extends "bootstrap/base.html" %}

{% block title %}VRodu map{% endblock title %}

{% block metas %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock metas %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div id="map" style="width: 518px; height: 468px"></div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
    var locations;
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 7,
            controls: ['fullscreenControl', 'typeSelector', 'zoomControl']
        }),
        objectManager = new ymaps.ObjectManager({
            clusterize: true,
            gridSize: 32,
            clusterDisableClickZoom: true
        });
        myMap.geoObjects.add(objectManager);
        locations = {{ locations | safe }};
        if (Object.keys(locations).length){
            var myBounds = addLocations(myMap, locations);
            myMap.setBounds(ymaps.util.bounds.fromPoints(myBounds));
            if (myMap.getZoom() > 20){
                myMap.setZoom(12);
            }
        }
    }

    function addLocations(map, locations){
        var A = [];
        for (a in locations){
            var persons = locations[a], iCaption = persons[0].person, bContent = '';
            if (persons.length > 1){
                iCaption = '';
                persons.forEach(element => {
                    bContent += element.person + '<br/>';
                    if (element.surname) 
                        if (iCaption) iCaption += ', ' + element.surname;
                        else iCaption = element.surname;
                });
                if (!iCaption)
                    iCaption = 'Несколько персон';
            }

            var myPlacemark = new ymaps.Placemark(persons[0].coordinates,
                {iconCaption: iCaption, balloonContent: bContent});
            map.geoObjects.add(myPlacemark);
            A.push(persons[0].coordinates);
        }
        return A;
    }
</script>
{% endblock scripts %}
